/*blog listing page*/
.alpha.entry-title a:hover {

}

.hentry .entry-header {
    margin-bottom: 10px;
    border-bottom: none;
}
.alpha.entry-title a,
.entry-header .entry-title {
	font-weight: 500;
	color: #484c51;
}




/*single blog page*/
#respond {
	background-color: initial;
	padding: 0;
}


/*Bootstrap overrides (to prevent conflict with WooCommerce), primarily on blog/ page */
.label {
	display: block;
	padding: 0;
	font-size: inherit;
	color: inherit;
	text-align: inherit;
}