.cart-subtotal,
.order-total {
	background-color: #f8f8f8;
}

// get rid of black bar that appeared after dequeueing woocommerce/storefront styles
table.cart td.actions {
	border-top: 0;
}

.cart-collaterals .shop_table {
	background-color: #f8f8f8;
}

.shop_table.shop_table_responsive.cart {
	thead {
		border-bottom: 1px solid #eee;
	}
	// tr.cart_item {
	// 	border-bottom: 1px solid #eee;
	// 	&:nth-last-of-type(1) {
	// 		border-bottom: none;
	// 	}
	// }
}

// if left to "separate", the borders will not show on the tables
table {
	border-collapse: collapse;
}

// this removes the strange, huge border in mobile
table.cart td.product-remove {
	border-top: none;
}

