/*footer*/
#zoom-social-icons-widget-2 {
	text-align: center;
	margin: 0;
}
.footer-widgets {
	border-bottom: none!important;
	padding: 0!important;
}
/*get rid of strange padding and margin*/
.widget .zoom-social-icons-list--no-labels.zoom-social-icons-list--without-canvas {
	margin: 0;
}
.site-footer {
	padding: 40px;
}