/*general stuff*/
body {
	font-size: 16px;
	word-wrap: normal;
}

a:hover {
	color: inherit;
}

.content-area,
#secondary {
	margin-top: 25px;
}


// this affects the View Cart button on the Shop page and maybe elsewhere
.added-to-cart.wc-forward {
	background-color: #0f834d;
}