/*header*/
.site-header a {
	color: #e6e6e6;
}

.site-title a:hover,
.site-title a:focus {
	text-decoration: none;
	color: #fff;
}

.site-header-cart a.cart-contents:active,
.site-header-cart a.cart-contents:hover {
	text-decoration: none!important;
	color: #fff!important;
}