/*header*/
.site-header a,
ul.menu li.current-menu-item > a {
	color: #e6e6e6;
}

.site-title a:hover,
.site-title a:focus {
	text-decoration: none;
	color: #fff;
}

.site-header-cart a.cart-contents:active,
.site-header-cart a.cart-contents:hover {
	text-decoration: none!important;
	color: #fff!important;
}

.sub-menu,
.widget_shopping_cart {
	background-color: #2c2d33;
}

.widget_shopping_cart .buttons .button {
	background-color: #e6e6e6;
	color: #2c2d33;
}

.product_list_widget a:hover {
	color: #e6e6e6;
}