/*header*/
.site-header a,
ul.menu li.current-menu-item > a {
	color: #e6e6e6;
}

.site-title a:hover,
.site-title a:focus {
	text-decoration: none;
	color: #fff;
}

.site-header-cart a.cart-contents:active,
.site-header-cart a.cart-contents:hover {
	text-decoration: none!important;
	color: #fff!important;
}

.sub-menu,
.widget_shopping_cart {
	background-color: #2c2d33;
}

.widget_shopping_cart .buttons .button.checkout {
	background-color: #e6e6e6;
	color: #2c2d33;
}

.product_list_widget a:hover {
	color: #e6e6e6!important;
}

// make padding in cart dropdown more uniform
.site-header .widget_shopping_cart li,
.site-header .widget_shopping_cart p.buttons,
.site-header .widget_shopping_cart p.total {
	padding: 1em!important;
}

// hide images in cart drop-down and make content area 100% width
@media screen and (max-width: 1000px) {
	.product_list_widget img {
		display: none!important;
	}
	// decrease padding more when viewport gets smaller
	.site-header .widget_shopping_cart li,
	.site-header .widget_shopping_cart p.buttons,
	.site-header .widget_shopping_cart p.total {
		padding: .6em!important;
	}
}

// make right portion of header larger (cart preview) and left nav part smaller
// this will increase size of the cart dropdown
@media (min-width: 768px) {
	.woocommerce-active .site-header .main-navigation {
		width: 75%;
		margin-right: 0;
	}
	.woocommerce-active .site-header .site-header-cart {
		width: 25%;
	}
	.main-navigation ul ul,
	.secondary-navigation ul ul {
		left: 0;
		display: none;
	}
	.main-navigation ul li.focus>ul,
	.main-navigation ul li:hover>ul,
	.secondary-navigation ul li.focus>ul,
	.secondary-navigation ul li:hover>ul {
		left: inherit;
		display: block;
	}
}



