/*shop page*/
/*I've disabled sorting functionality in functions.php, but this also eliminates the "showing the single result" message*/
.storefront-sorting {
	display: none;
}


/* woocommerce and woocommerce theme overrides */
.woocommerce-info,
.woocommerce-error,
.woocommerce-message {
	border-left: none;
}

#payment .place-order {
	padding-left: 0;
	padding-right: 0;
}

#payment .payment_methods li {
	padding: 1em 1.41575em!important;
}
#payment .payment_methods > li:hover {
	background-color: #fafafa;
}

#payment .place-order {
	padding-bottom: 0;
}

.category-mod {
	font-weight: normal;
    text-transform: lowercase;
    color: #666;
}



/*my account login page*/
label[for="rememberme"] {
	margin-top: 1em;
}
 
